body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.custom-dropdown {
  display: inline-block;
  position: relative;
  width: 10em;

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  &::before {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    height: 100%;
    width: 2em;
    background-image: url('data:image/svg+xml;utf8,<svg width="10" height="5" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 10,0 5,5" fill="%232b2b2b" /></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0.75em;
  }

  input[type="text"],
  ul {
    cursor: default;
    font: inherit;
    width: 100%;
  }

  input[type="text"] {
    padding: 0.35em 1.75em 0.35em 0.5em;
  }

  ul {
    background-color: white;
    box-shadow: 0 0 5px -1px rgba(black, 0.5);
    list-style: none;
    margin: 0.35em 0;
    max-height: 15em;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    visibility: hidden;
    width: 100%;

    li {
      overflow: hidden;
      padding: 0.35em 0.5em;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:not(.selected):hover {
        background-color: hsl(0, 0%, 94%);
      }

      &.selected {
        background-color: hsl(226, 45%, 89%);
      }
    }

    &.visible {
      visibility: visible;
    }
  }

  &--error {
    &::after {
      content: attr(data-error);
      position: absolute;
      color: red;
      font-size: 12px;
      margin-top: 3px;
      z-index: -1;
    }
  }
}

input[type="text"] {
  &.error {
    border: 2px solid red;
  }
}
